.toggle-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.perm-tooltip {
  display: flex;
  align-items: center;
  padding: 10px;
}
.tooltip-text {
  display: block;
  margin: 0px;
}
